body {
	color: #000000 ;
	background-color: #FFFFFF ;
	font-family: Console, Verdana, "微软雅黑" ;
	text-align: justify ;
	margin-right: 30px ;
	margin-left: 30px ;
}

h1, h2, h3, h4 {
	font-family: Verdana, Geneva, sans-serif, "微软雅黑" ;
	font-weight: normal ;
	font-style: italic ;
}


h1 {
	padding-top: 0.4em ;
	padding-bottom: 0.4em ;
	padding-left: 24px ;
	margin-left: -24px ;
	background-color: #E0E0FF ;
	border-radius: 8px ;
}

h2 {
	padding-top: 0.4em ;
	padding-bottom: 0.4em ;
	padding-left: 1em ;
	padding-right: 1em ;
	background-color: #E0E0FF ;
	border-radius: 8px ;
}

h3 {
	padding-left: 0.5em ;
	border-left: solid #E0E0FF 1em ;
}

a:link {
	color: #000080 ;
	background-color: inherit ;
	text-decoration: none ;
}

a:visited {
	background-color: inherit ;
	text-decoration: none ;
}

a:link:hover, a:visited:hover {
	color: #000080 ;
	background-color: #E0E0FF ;
}

a:link:active, a:visited:active {
	color: #FF0000 ;
}

hr {
	border: 0 ;
	height: 1px ;
	color: #a0a0a0 ;
	background-color: #a0a0a0 ;
}


pre {
	background-color:#f8f8f8;
	border:1px solid #ccc;
	font-size:13px;
	line-height:19px;
	overflow:auto;
	padding:6px 10px;
	border-radius:3px;
}

code {
	font-size: 13px ;
	font-family: Consolas, "Liberation Mono", Courier, monospace ;
	line-height: 19px ;
	background-color:#f8f8f8;
	border:1px solid #ccc;
	border-radius: 3px;
	padding:3px 5px;
}

directive {
	color: #00a000 ;
}

arguments {
	color: #a00000 ;
}


.table002 {
	width: 70%;
	border: 1px solid rgb(204, 204, 204);
	border-spacing: 0;
	border-collapse: separate!important;
	border-radius: 5px 5px 5px 5px;
}

.table002 tr{
	display: table-row;
	vertical-align: inherit;
}

.table002 tr th{
	padding: 15px 0px;
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid rgb(204, 204, 204);
	background: -webkit-gradient(linear, left top, left bottom, from(rgb(250, 250, 250)), to(rgb(205, 204, 204)));
	background: -moz-linear-gradient(top, rgb(250, 250, 250), rgb(205, 204, 204));
}

.table002 tr th:first-child{
	border-radius: 5px 0px 0px 0px;
}

.table002 tr th:last-child{
	border-right: none;
	border-radius: 0px 5px 0px 0px;
}

.table002 tr td {
	padding: 10px 5px;
	vertical-align: middle;
	text-align: center;
	border-top: 1px solid rgb(204, 204, 204);
	border-right: 1px solid rgb(204, 204, 204);
}

.table002 tr td:last-child{
	border-right: none;
}


